h1{
  padding-bottom: 30px;
  text-align: center;
  
}

.form-container-aux {
  display: block;
  width: 700px;
  margin: auto;  
  background: #eceff1;
  padding: 40px;
  border-radius: 16px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
vertical-align: middle;
  box-shadow: 0 0 20px rgba(24, 23, 23, 0.829);
  align-self: center;
  
}
select {
  box-shadow: 0 0 20px rgba(24, 23, 23, 0.829);
}
button {
  box-shadow: 0 0 20px rgba(24, 23, 23, 0.829);
}
th, td {
  border: 1px solid black;
  padding: 10px;
}

thead th {
  width: 50%;
}
table {
  align-self: center;

}

thead {
  background-color: #333;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

tbody tr {
  background-color: #fff;
  font-size: medium;
}

.margin-top-aux{
  margin-top: 40px;
}

 


